<!DOCTYPE html> 
<head>
  <title>Js-parsons Generator</title>
</head>
<body>
  <h2>JSON-code</h2>
  <p>
    You can take the following JSON and host it on your own server. 
    Linking it to js-parsons with the Following format:
    <code> {{serverAddress}}html/jsparsons/jsparsons-python-json/exercise?url=[URL to the JSON-file]</code>
  </p> 
  
  <div style="background-color: #ddd; border: 1px #aaa solid; border-radius: 5px; padding: 10px;">
    <pre><code id="submitted-code">{
  "name": "{{name}}",
  "description": "{{description}}",
  "instructions": "{{instructions}}",
  "initial": "{{initial}}"
}</code>
    </pre>
  </div>

  <h2>Test URL</h2>
  You can test this exercise directly with this url:<br><code><a href="{{url}}">{{url}}</a></code>
</body>
</html>